@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("aboutPageTitle") ?? null;

    var leftImage = Model?.Value<IPublishedContent>("aboutLeftImage")?.Url() ?? "";
    var rightImage = Model?.Value<IPublishedContent>("aboutRightImage")?.Url() ?? "";
    var aboutCeo = Model?.Value<IPublishedContent>("aboutCeoImage")?.Url() ?? "";
    var reviewRightImage = Model?.Value<IPublishedContent>("reviewRightImage")?.Url() ?? "";
    var expert1 = Model?.Value<IPublishedContent>("expertImage1")?.Url() ?? "";
    var expert2 = Model?.Value<IPublishedContent>("expertImage2")?.Url() ?? "";
    var expert3 = Model?.Value<IPublishedContent>("expertImage3")?.Url() ?? "";
    var expert4 = Model?.Value<IPublishedContent>("expertImage4")?.Url() ?? "";
    var expert5 = Model?.Value<IPublishedContent>("expertImage5")?.Url() ?? "";
    var expert6 = Model?.Value<IPublishedContent>("expertImage6")?.Url() ?? "";
    var expert7 = Model?.Value<IPublishedContent>("expertImage7")?.Url() ?? "";
    var BackgroundImage = Model?.Value<IPublishedContent>("contactBackgroundImage")?.Url() ?? "";
    var TeamMemberImage = Model?.Value<IPublishedContent>("contactTeamMemberImage")?.Url() ?? "";
}

<section id="about" class="about">
    <img class="left-image" src="@leftImage" alt="@Model?.Value("aboutLeftImage")">
    <div class="container">
        <div class="about-title">
            <h1>@Model?.Value("aboutTitle")</h1>
            <div class="about-directions">
                <a href="@Model?.Value("aboutHomeUrl")"> @Model?.Value("aboutHomePageName") </a>
                <i class="fa-solid fa-arrow-right"></i>
                <p>@Model?.Value("aboutThisPageName")</p>
            </div>
        </div>
    </div>
    <img class="right-image" src="@rightImage" alt="@Model?.Value("aboutRightImage")">
</section>

<section id="about-ceo" class="about-ceo">
    <div class="container">
        <div class="ceo-image">
            <img class="ceo" src="@aboutCeo" alt="@Model?.Value("aboutCeo")">
            <p>@Model?.Value("aboutCeoNameAndFunction")</p>
        </div>
        <div class="description">
            <p class="quote">@Model?.Value("aboutQuoteText")</p>
            <p class="text">@Model?.Value("aboutText1")</p>
            <p class="text">@Model?.Value("aboutText2")</p>
            <p class="text">@Model?.Value("aboutText3")</p>
            <p class="text">@Model?.Value("aboutText4")</p>
            <p class="text">@Model?.Value("aboutText5")</p>
            <p class="text">@Model?.Value("aboutText6")</p>
            <p class="text">@Model?.Value("aboutText7")</p>
        </div>
    </div>
</section>

<section id="review" class="review">
    <div class="testimonial">
        <div class="container">
            <div class="testimonial-text">
                <h5>@Model?.Value("reviewSectionTitle")</h5>
                <h2>@Model?.Value("reviewHeadline")</h2>
                <p class="review-description">@Model?.Value("reviewDescription")</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="author-name">@Model?.Value("reviewAuthorName")</p>
                <p class="company-name">@Model?.Value("reviewAuthorCompanyName")</p>
            </div>
        </div>
    </div>

    <img class="review-img" src="@reviewRightImage" alt="@Model?.Value("reviewRightImage")">
</section>

<section id="our-experts" class="our-experts">
    <div class="container">
        <div class="experts-title">
            <h5>@Model?.Value("expertsSectionTitle")</h5>
            <h2>@Model?.Value("expertsHeadline")</h2>
        </div>
        <div class="team">
            <div class="first-experts-team">
                <article>
                    <img class="pro-image" src="@expert1" alt="@Model?.Value("expert1")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName1")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation1")</p>
                    </div>
                </article>
                <article>
                    <img class="pro-image" src="@expert2" alt="@Model?.Value("expert2")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName2")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation2")</p>
                    </div>
                </article>
                <article>
                    <img class="pro-image" src="@expert3" alt="@Model?.Value("expert3")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName3")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation3")</p>
                    </div>
                </article>
            </div>
            <div class="second-experts-team">
                <article>
                    <img class="pro-image" src="@expert4" alt="@Model?.Value("expert4")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName4")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation4")</p>
                    </div>
                </article>
                <article>
                    <img class="pro-image" src="@expert5" alt="@Model?.Value("expert5")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName5")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation5")</p>
                    </div>
                </article>
                <article>
                    <img class="pro-image" src="@expert6" alt="@Model?.Value("expert6")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName6")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation6")</p>
                    </div>
                </article>
                <article>
                    <img class="pro-image" src="@expert7" alt="@Model?.Value("expert7")">
                    <div class="pro-text">
                        <h4 class="pro-name">@Model?.Value("expertName7")</h4>
                        <p class="pro-title">@Model?.Value("expertOcupation7")</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section id="about-contact-us" class="about-contact-us">
    <div class="container">
        <div class="background-image">
            <img class="background" src="@BackgroundImage" alt="@Model?.Value("contactBackgroundImage")">
            <img class="team-member" src="@TeamMemberImage" alt="@Model?.Value("contactTeamMemberImage")">
        </div>
        <div class="about-information-contact">
            <h2>@Model?.Value("contactInfoHeadline")</h2>
            <div class="info">
                <p class="office"><i class="fa-solid fa-location-dot"></i>Office location</p>
                <p class="office-info">@Model?.Value("contactInfoOfficeLocation")</p>
            </div>
            <div class="info">
                <p class="office"><i class="fa-solid fa-phone-flip"></i>Phone number</p>
                <p class="office-info">@Model?.Value("contactInfoPhoneNumber")</p>
            </div>
            <div class="info">
                <p class="office"><i class="fa-regular fa-envelope"></i>E-mail address</p>
                <p class="office-info">@Model?.Value("contactInfoEmail")</p>
            </div>
        </div>
    </div>
</section>